<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <!-- Product Components -->
    <ComponentGroup Id="ProductComponents">

      <!-- Shortcut -->
      <ComponentRef Id="MainAppShortcut" />

    </ComponentGroup>

    <!-- Installed files -->
    <DirectoryRef Id="INSTALLFOLDER"
                  FileSource="..\BatchUpdateIncidentClient\bin\Debug\net461\win-$(var.Platform)\publish\">

      <!-- Shortcut to main application -->
      <Component Id="MainAppShortcut" Guid="{2EDB679E-CAAE-4E83-B46A-F726D627F61D}">

        <Shortcut Id="MainAppShortcut"
                  Name="!(loc.ProductName_$(var.Platform))"
                  Target="[INSTALLFOLDER]BatchUpdateIncidentClient.exe"
                  Directory="InstallProgramMenuFolder"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="icon.ico"
                  />

        <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegShortcutKey"
                       Root="HKCU"
                       Key="SOFTWARE\!(loc.Company)\!(loc.ProductNameFolder)"
                       Name="Shortcut"
                       Value="1"
                       Type="integer"
                       KeyPath="yes" />

        <!--Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu"
                      Directory="InstallProgramMenuFolder"
                      On="uninstall" />

      </Component>

    </DirectoryRef>

  </Fragment>


</Wix>
