<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="{686C3EB3-B9CB-4BFC-82B0-72A72D84A8AF}">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.BasePath)\appsettings.json" />
            </Component>
            <Component Id="cmpA8609209D894BFD0A3150C1F0BCFFC36" Guid="{FCF9318D-4360-4646-8EA4-5193F28E8F64}">
                <File Id="fil443B95B9566C3963902B71CF4C05351D" KeyPath="yes" Source="$(var.BasePath)\BatchUpdateIncidentClient.exe" />
            </Component>
            <Component Id="cmpDA5BD1F82127C04D60A67DEF46885D01" Guid="{985148FB-551B-493E-B5C3-120AB34ED559}">
                <File Id="fil9C5E7550F61A3BC1DE0AB2CD219B9FB0" KeyPath="yes" Source="$(var.BasePath)\BatchUpdateIncidentClient.exe.config" />
            </Component>
            <Component Id="cmp61F0ED42DB5D268F99C71B1D805DEA27" Guid="{8EF3069F-C09D-4513-8064-58A2C3C7CB8D}">
                <File Id="fil08DEC8CCC202D1B780B39670DA8E21FC" KeyPath="yes" Source="$(var.BasePath)\BatchUpdateIncidentClient.pdb" />
            </Component>
            <Component Id="cmpA446AF8E47E174A459DCB8F054E69924" Guid="{51F775A3-CCE8-4A91-82AD-F75F8AAA088A}">
                <File Id="fil79D4CA6BFB2C2DEF868B84C5B08409F3" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Crm.Sdk.Proxy.dll" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="{2E4B3251-6F76-48A8-8C40-0B538AE07592}">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="{F5F76CB1-0B7B-41B9-AB48-B6A2FB4416DD}">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp0F72FDFC2B5DABBEED0952957424C516" Guid="{77CFB59C-2F1F-439D-BF4B-5E687B0C6FDA}">
                <File Id="fil732B9D1BB8B2BA629B3802CB721B7E55" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp191446DEBB621CC91C2B2E713F085F01" Guid="{556A3139-1603-49E1-9B57-1CDBF339C273}">
                <File Id="fil0CC9532B169036B73874B81A5F9C8F97" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp0209E8308C907CAD5474151F7C6836F5" Guid="{2E24EDDF-7670-4B18-BB18-724FD0F25D14}">
                <File Id="fil1036FDFADEB4E1F1FB133485A70A0DD4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp6361EE614B62630DD923390326EAF03C" Guid="{448F5C0A-1C19-4BC8-9870-A5990B9AE1AE}">
                <File Id="fil1B3C0C67DC448F84DA45630529031E78" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp1E5A63B6F657DD090469973A1C3D2C59" Guid="{76BDACC1-9CEB-4A93-9545-3A2C08D172ED}">
                <File Id="fil931DDF3633F4CABF1422600B672C70DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{01FD5E49-76F4-4CB8-888C-E2EB1A670286}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp8D70D98B32C8F908DD58C5F06708F289" Guid="{0F5656A9-9D11-4D86-9986-E3EAFFAEC1AD}">
                <File Id="fil65C3764DFEF4B816AA91E646D63059C1" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" Guid="{F47E129F-3408-4A05-9A0A-E15BE5D769C0}">
                <File Id="fil88E67E79EF1C4E174E3CA55C79D438EF" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            <Component Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" Guid="{C12F6D03-04C6-4031-B863-18DE645D0DAA}">
                <File Id="fil477B767EE43BD465EE01C8F343860270" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpC089979D7EDD0520871FCF59E4512F6A" Guid="{2EE94E2D-16BC-4314-80A2-D13255A17B41}">
                <File Id="fil69885EF287CDAEE15C09BE435AEC1160" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp67E65E2B67A367FACFDC13B3845494ED" Guid="{8D56E8C2-E999-4DAC-A0AB-58AB6EA82033}">
                <File Id="filB33A9006A4BD6B4E952B54B5229B172C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xrm.Sdk.dll" />
            </Component>
            <Component Id="cmp2D22C362F8F0B3B68D8A335DB9874738" Guid="{64278A36-F9A6-42F6-A70A-D5BD8F37C143}">
                <File Id="fil0C7258C62EED04D203F333E1383578C2" KeyPath="yes" Source="$(var.BasePath)\netstandard.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{ED4C337B-851D-4ADF-902F-085655FEFCB5}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpFB3187AEB0ABE44A5275235FC44713AF" Guid="{56B120C0-7DDD-4FCC-B7BA-18D9477CE34F}">
                <File Id="filD41DFC9E6644B2345E54C2167D8FEAEA" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Concurrent.dll" />
            </Component>
            <Component Id="cmpC7B18FE4579BA5B84EA0DA057622D478" Guid="{91D20E8E-C84A-4523-AFFA-78B5C969FEA7}">
                <File Id="filC4C3CE93112A5A69B2BF571E224E4C61" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.dll" />
            </Component>
            <Component Id="cmp8F0ABC6A41DD89D6ABA50495ACCF772B" Guid="{5F9E1BE7-0C89-4D0D-8D49-9766045EDABE}">
                <File Id="fil584ACC6B2D9300E5138C0D80C1B82EBE" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Enlightenment.dll" />
            </Component>
            <Component Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" Guid="{CC298D07-F57F-4D95-A34D-425E3791B26D}">
                <File Id="filAFD0CC30CB2E6DD52C314025EFBB3EF7" KeyPath="yes" Source="$(var.BasePath)\System.AppContext.dll" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Guid="{94C7C4E7-8C6B-4C22-804C-09B01E170487}">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp602E8F2B93FE6578A846F762EC68A1D9" Guid="{2FE57420-D2BC-40C9-8F15-32474F8D1C15}">
                <File Id="fil8A8EC4001DD8F96250E301ED6A1E3783" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp3DA1940FB9C385E5772FD6B27D952566" Guid="{FC3808CE-263F-4252-A707-064622CC6D57}">
                <File Id="fil61FB0EF6F8353D5D25E080C4B6E602C0" KeyPath="yes" Source="$(var.BasePath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp1340CAF41213E899D78462CF580BF2AD" Guid="{47F67ADF-6454-4D40-A7FA-280FC5F575A5}">
                <File Id="filE68AB55348C2F39BA40CC24DA31D4211" KeyPath="yes" Source="$(var.BasePath)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" Guid="{E2AB65F7-0A60-4381-9E14-A8C4F4D834A3}">
                <File Id="filF574BF00EFD9442D9E5911559F8D7CB3" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp912EE5CA7F0C138422055A3D0C240C38" Guid="{2864EA91-E437-4EAD-B6D5-569AD8444E8E}">
                <File Id="fil8084AE81753074831DC96EB13423F40D" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp9DD02050EE6C7C34C1B0689DE491114C" Guid="{4512347E-5C8C-4362-913B-17A742740DAF}">
                <File Id="fil1E5C558F899E13FD4A03E9ACF14B5065" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp0E07B6458918A72AFC17E557DDF86BE9" Guid="{81191371-2AFE-4007-BB24-239426DE951B}">
                <File Id="fil757C2B539CEF8E96C5DAF1634B560D0F" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmp9CD588F7BA24625E3D5679886E12AD98" Guid="{5C439EB3-E396-464C-B0D9-921664D3DDEA}">
                <File Id="fil057857F4AB9C19007F7BB13F6DAB4F8E" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" Guid="{39C6A889-9736-44D3-9F63-4FF02A7D0A22}">
                <File Id="fil08A6ABF18A6A31D6C7924DD13873F17E" KeyPath="yes" Source="$(var.BasePath)\System.Console.dll" />
            </Component>
            <Component Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" Guid="{2EECAB19-A494-459E-A8F4-2D99E377523B}">
                <File Id="filE0AB56016BACB84E3B4D8920E3BC3B88" KeyPath="yes" Source="$(var.BasePath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp18D7BFB3BE8790A76D7469ACDB6FF184" Guid="{7F56460E-7701-44F3-9489-60595D541D21}">
                <File Id="filF5EC28734B29A9D0741ED65730786D83" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmp16EF400B22B4D8375CD56E7168F49BBB" Guid="{D2A6BA5D-488A-4331-9217-7663D23C0969}">
                <File Id="filC5A135B91631EDD63E03635FE5DB1528" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmp7E39F1A13DA5F3678F3102B85106204A" Guid="{006DE50C-1430-4FAB-B89E-946BE55921A8}">
                <File Id="filE669E7EEC097516D4E9BE57F87820A6F" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmpD23621427F9427EADECDFB75824E8F4E" Guid="{102824BD-D374-4472-B851-4FA4ECECDCF5}">
                <File Id="filA2202346FF26F0ADE22443C43E9EA3EA" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmpB3E27F13800A8FF984F132723F98897C" Guid="{DC36DDEC-D5B8-40D8-9D7A-ADCE248F0FD5}">
                <File Id="filDBF3A4F1AEA58FEDB0007DD546ADD630" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp36E12B3A84F72D19A05AB3898848297D" Guid="{AB4D692D-02C8-4B5A-AD41-B1A3D3600EAA}">
                <File Id="fil21EE5D64D21C91238861B7873377CB07" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" Guid="{5A377029-F53C-44C5-8E68-F8682C2E9577}">
                <File Id="fil589087C30E15FFAD786A80C79F228C31" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" Guid="{803FB3FB-B966-43A0-B34D-5664331B6760}">
                <File Id="fil51DF554AB19C81BD826675A139E6342C" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmp804ACD73DC5E4AF51ACF260299491EAE" Guid="{F0BAAB6B-6697-4C2C-ABFF-A60625B040EE}">
                <File Id="filE457FA9EC2AE98FDC3C82D976418C363" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmp08477E3E9CCCB3373C6D6B557560F00D" Guid="{CF1E4B6F-1C93-4596-8E66-FE409FC3E4A5}">
                <File Id="filB3F994E499D6B2658F4935DB290BBD4C" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" Guid="{0CD6302A-42B6-4B30-A7CF-8BFB6943A22A}">
                <File Id="filC724FD793DE9BFA79CD7FB6C9ADD74B0" KeyPath="yes" Source="$(var.BasePath)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmpF2CFC77F0487C42E6C597124620175D0" Guid="{A4ACE8B1-9520-4039-8105-E0EADE4105B9}">
                <File Id="filB1DA3C706CDD3EB9DD5FAEE10E17A1EC" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp38992D30F99BD043E10383498A731822" Guid="{253057F4-3DA1-47B1-BE27-FB6E52A1B2AF}">
                <File Id="fil302011DAA4997DB8B141168A984D0E89" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" Guid="{F2F71D33-F011-471E-A7F8-496F3BE808A6}">
                <File Id="filBCE4D84B0CA5B233C74110483CAD4D62" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmpC8D343DED6ECA227B78780388C7AA77C" Guid="{839172B5-82FC-4295-BECE-3F2FE7830AAF}">
                <File Id="fil8C21BB6ED9A67550B3F3EE8EF35E5A89" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpD40621D43FCB57C24FE91D5292CDCA60" Guid="{13AE628F-D063-4175-9EAC-1BDF6A37062A}">
                <File Id="fil58D577100F63265F0448602DFD48190C" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp06E205989506C503C7B11F6FE4B449C6" Guid="{708FEDB9-E189-4E54-ADB1-3F0474DC5213}">
                <File Id="fil1585A04883FF89B289FC2454E8EDC783" KeyPath="yes" Source="$(var.BasePath)\System.IO.dll" />
            </Component>
            <Component Id="cmp2BF489548413875B5E6C82837FCD954F" Guid="{50AAB276-499A-4338-87EE-405F3C9DD44D}">
                <File Id="filB910A291C5575D86F028725A2C33BF2D" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmp1AB9ED2F24CD7F4C14BBC93CA838C6B0" Guid="{EE396828-1605-446D-B854-06D75458C1DE}">
                <File Id="fil574A395F5B89705022FDCE55CD01B148" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmpC96839737F0D0575D352C1AE13A73E26" Guid="{085D5C5B-1251-41A9-9A3C-A13C14AC5A7D}">
                <File Id="fil02F9A4228ADE0C77AF34898B47FD1723" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp43533F1C6D869598C6A682154C94696E" Guid="{19C2A284-9035-41B1-B4A4-17C3E79A4DB3}">
                <File Id="filBF4695E38CC21BF49BBCA04E77D36710" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmpBEA123016451982E36F3B409E9D6426F" Guid="{60E8BF83-16C9-4ECD-912C-501DDC382B1F}">
                <File Id="fil4018AFAC307CEA6BC7FCB7A5B8BCA075" KeyPath="yes" Source="$(var.BasePath)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmp27E36B7C8DB5461A9579366D20E5DD16" Guid="{01733F17-633D-4B65-878F-B3C8BE30931A}">
                <File Id="fil7F43DE255F0B70BD8014CC9F0611E6A9" KeyPath="yes" Source="$(var.BasePath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" Guid="{053AF24A-99ED-4249-9D2C-4C9724E7C1BB}">
                <File Id="fil8EAA03164AF160196E835AAF613219D0" KeyPath="yes" Source="$(var.BasePath)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmp5338A7F671CC8A6B5D8355578A8A889A" Guid="{499F4006-5C22-45FE-8236-FEF8DAAA224E}">
                <File Id="filA25C390E7FAA5E8406CA4A02BBBCC33A" KeyPath="yes" Source="$(var.BasePath)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" Guid="{B0DE917E-645E-4238-8C4C-A8B491577C1B}">
                <File Id="fil598A363D5498D9DDBAFE6880F82F75CA" KeyPath="yes" Source="$(var.BasePath)\System.Linq.dll" />
            </Component>
            <Component Id="cmpE2761380A2AA89636D5B95A135451B7F" Guid="{0F46031C-958D-4577-9738-3D6B62083C0C}">
                <File Id="fil33155AE23C9BC1A3E340E9A8ABDE1D42" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" Guid="{8BBA52C4-4FEE-4184-A39E-AC624AEFCAD7}">
                <File Id="fil3F3DFA5907492425703385E53974B104" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" Guid="{FCE20320-0A8C-4E7E-896D-46B6CCCDBDED}">
                <File Id="fil7169F7E92FBFDB99FD71D763F2E780C7" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmp642ED5B0D0BD1F16347D1310992C55A0" Guid="{83A45FCC-B281-4A5E-9F36-A74656F93655}">
                <File Id="filFA1D7EC932018D1CCB80F9F43D328009" KeyPath="yes" Source="$(var.BasePath)\System.Memory.dll" />
            </Component>
            <Component Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" Guid="{75401F39-332F-4B5C-93EF-47BCEDFCDE8C}">
                <File Id="fil7D48B04FDEE4653060C375A94010A762" KeyPath="yes" Source="$(var.BasePath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp8487DBCD10F6EA164525782F92DE4F4F" Guid="{75C45066-7131-4355-BB88-4D0A6DBB95C8}">
                <File Id="fil69D9F4812C174BFB653C73FDA9A444E0" KeyPath="yes" Source="$(var.BasePath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" Guid="{876DF7BE-441A-4C23-8DA8-E0010DD2B025}">
                <File Id="filC663E3CB9E88525B42D5B8916035A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmp8E66472F03923A37D938729AEED0ABF6" Guid="{F4EF682F-108F-466A-A59D-5BC32647FC1C}">
                <File Id="fil8C39D1E2631D6844BB01F4F3D4309095" KeyPath="yes" Source="$(var.BasePath)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" Guid="{BF006E01-DB03-4353-A449-1C320D5F20D9}">
                <File Id="fil9E23EE919E61291572A9E7A02358BE0B" KeyPath="yes" Source="$(var.BasePath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmp1F98307E0E8546CD03283A275A109E29" Guid="{705D8A3F-039F-4245-8D60-B107237176CE}">
                <File Id="filABF76F5E8887AC62C808D141EEE7F90D" KeyPath="yes" Source="$(var.BasePath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp661DE9832C6188B3A05455224EB65C4A" Guid="{FEBED030-F907-4FDE-B841-6F1253BD566F}">
                <File Id="fil1D7AB309A4579D55C17E387F8DFFAE30" KeyPath="yes" Source="$(var.BasePath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" Guid="{964B7DA7-A4C2-41E1-9D5F-188F3B779466}">
                <File Id="fil823B0C5D79C138C9B43DE503AE851AF3" KeyPath="yes" Source="$(var.BasePath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" Guid="{2724ABC9-ECCB-47E1-B701-B59D7F71B43E}">
                <File Id="fil56CADEAFFCFAFECB7B1BDB9CFD8987F1" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmp68954BEF36096052C3124B7F9EF02351" Guid="{76C1B9E8-68B8-45CD-B3B9-34AB62A51B69}">
                <File Id="filBE4907C935596CA9CAA2A7AA9AB25169" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmpA3D72A47568CFB72A8579DA365A9694A" Guid="{A25D2B7A-C139-429D-9621-D6CA6D08D823}">
                <File Id="fil21106B04138595285E4063BA0375F731" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" Guid="{F157CEC0-509A-446A-9F23-B69A3D01A577}">
                <File Id="fil07CC506FCE6F39AF87379627460A5FFB" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" Guid="{9DB192FA-5183-4C6B-8718-FE2C3A2194ED}">
                <File Id="fil9A7CC4FBC706133927299AE792CF930C" KeyPath="yes" Source="$(var.BasePath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" Guid="{07B54C64-EF9C-4464-8573-A95F1359DAC7}">
                <File Id="filA974C5A92C285D01E798C45F066066E6" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.dll" />
            </Component>
            <Component Id="cmpBBE9705F8359FDCA711FD64D14D92D29" Guid="{F2CBD85E-03CC-4531-963D-27643F672356}">
                <File Id="filBF34301359DFDB004DA5653ADCF77EA8" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp673F5FD19E1447A9E9517732D5099C50" Guid="{86374CC6-4783-4A11-8DD5-64B2BCD6FE47}">
                <File Id="fil8C7FE5693A485A6EC5DB4F983E211310" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp70FC17596CC6D6081664CEA3F1370618" Guid="{5C5C9257-6A83-4062-BAEC-9BA47DD6F465}">
                <File Id="filA1280936EE48F816F9935AC5D8CC2135" KeyPath="yes" Source="$(var.BasePath)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmp0D6DF42F2B6440373438F26D08393D7E" Guid="{C747D0D4-DE60-40A0-85AC-033833F16AB9}">
                <File Id="fil0A8B8FDA1F690B6521438D46937A3A6B" KeyPath="yes" Source="$(var.BasePath)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp9CA91C7958AD8878AF60199DC48CD573" Guid="{E456F087-DE11-409C-847F-21D91320942E}">
                <File Id="fil230BE30D15C956EF11744774D5E2748A" KeyPath="yes" Source="$(var.BasePath)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{4E7243AC-60DE-4C03-B44D-DD9FE541ACB4}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpBC6ED153615307A014F39AD878C11A6F" Guid="{9A563BCD-3164-44B1-9DBA-E58577A91937}">
                <File Id="fil06F091C33B00CEE32ABF1D23BFFCF153" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmp5535623A0957F12A580F2E0AE9AB7F24" Guid="{FE65C5BF-9CF8-4CC4-AB00-4CA1DFCC956C}">
                <File Id="fil1F7505072F9E81ACFDD7E6910787823E" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp1F804D02F421408F7E20267C22EA6672" Guid="{2EAAAFC6-9D67-40E0-B643-6E6714CD5D20}">
                <File Id="fil46F95A243148C958E6F1AB4B4F561CB1" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" Guid="{15BDBA3F-7040-4ACA-B883-65FED1376153}">
                <File Id="fil7F78E91219FBF02ABACD6059011A3487" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" Guid="{1BC8094B-A965-4BAD-95F3-24E8EA2874F6}">
                <File Id="fil853E903EAF99997C9E803CAE3ACFBF5A" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp11FDD7837E3686618A8029176A611E38" Guid="{7A5BB891-BB7C-41FE-B790-EDDF4A03775E}">
                <File Id="fil43FDDFACC38DCF385E1070ABFC9FF8BD" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" Guid="{C1135796-02E9-4ACA-BDE5-9653D9453529}">
                <File Id="fil02EF2737879749E35F209C9B7DCA391D" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp41A90A30E3B6DE65B53B94DD925F5178" Guid="{0235D2E9-8D5A-4345-A800-934328E6CD73}">
                <File Id="filC968DB2890AADD4FA67468C2A7B10151" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmpD90C1CD2102284F981F3D046E35CA13E" Guid="{520887B0-65D8-429B-9873-C7E875B58D88}">
                <File Id="filD0901858A2CBFDA1564A60620AE9B302" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmp552DDD4A29039B8C3A99A908722A24F8" Guid="{D327189E-B270-49FE-91CF-E84BA977CB47}">
                <File Id="fil4EF07533CCADC5D11E070B55437037C4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmp844E0AB3F4C9BC342C04985D37DDFEB2" Guid="{4E16C770-F176-4115-9A7A-3D2BB8B9C535}">
                <File Id="filEA5BDF8BC27AFF8E7E096CB7FADA4669" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" Guid="{7A6EAB89-7890-4062-95FB-D70839A2EF6C}">
                <File Id="filF9336650B5D207916A83BC080A440D23" KeyPath="yes" Source="$(var.BasePath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmpFF30060800C65B79967082C32327291C" Guid="{03CFCF86-9440-477D-8EED-8939E20CF3C4}">
                <File Id="filAB211F3F0ECB04AF6C2378C73893A0C8" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp77638A88DFF018673C9539C4C63849F1" Guid="{5027DBDE-E78F-41D7-B305-0382583DF2B0}">
                <File Id="filA76FAFC53D43269049D637292976CF51" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" Guid="{7CBBBCD8-770D-43F2-91EC-F2EBAEEEA768}">
                <File Id="filED8707AB753EEF87C2288DCB64CF7A12" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp0136E6693E0DF16DBA25B9082AEA0615" Guid="{A066AC14-408E-4788-AF8B-2A82DAF5D9B4}">
                <File Id="fil25474CD58A18AB4C2CD00F08A6BC9775" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" Guid="{BEC1F219-5F7A-4352-92C2-7A26FC1E1371}">
                <File Id="fil442CB099348F299818A47DAF4107BAD6" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp82F2DB94B35989B5500883F0A3BD8505" Guid="{5142265E-29BC-4304-8AAC-C530EBF61CBB}">
                <File Id="filD2D8BE6ECEE6993CF4F1FF23EB2E93BB" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp2A096C150C80DB6CCD87D4C38C958489" Guid="{2602C119-74F1-456F-BD21-98E59ECEDD7E}">
                <File Id="filFB2A4DE274D08F22C08A1322C26E75AC" KeyPath="yes" Source="$(var.BasePath)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp06F6E0D21752727B7ACAD0B512A6023D" Guid="{E093E335-D733-44FC-A788-DF4E5A65FA5E}">
                <File Id="fil701E2765A9E92F8724B2DE3CCDB46360" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" Guid="{B26A917F-64E6-4234-A258-761C32F2ACD4}">
                <File Id="filCE8884160ED3E0EC381AFA6BE7E9D787" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmp0B61CF5FB51B4607DDD38343361694DD" Guid="{5325EC62-7DE7-4123-9880-D36C29B16FF3}">
                <File Id="filDF47AF6394D3BCA07F18B1B1DED956F6" KeyPath="yes" Source="$(var.BasePath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" Guid="{C5E2F932-79DD-4BAE-AA66-C5701594F695}">
                <File Id="fil36048FD39C076898D35F88983802BDEF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.dll" />
            </Component>
            <Component Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" Guid="{97E2A3F9-CBE8-4E70-9E07-558D8EFD88D2}">
                <File Id="filE727C34A4C970EEE21C677C885EC28B8" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmp174FEA916F072AFEF2DC68827B08C208" Guid="{8CB240C5-AAF2-43C4-A660-A28C56E0CF2C}">
                <File Id="fil7F3C8D53605A91C20728F321E6100DC4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" Guid="{6B19A26E-C069-45B7-8932-7395B7AB058D}">
                <File Id="filFDA046DB7FA1CA15A62337B4F259E5FF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" Guid="{29024AB9-489D-4BEF-8CE4-0F50541E7FC7}">
                <File Id="filC3127284977EB9FDD14629243C84A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" Guid="{3A5EDD69-7628-46D9-B35E-C8C3325C1D09}">
                <File Id="fil809F8EEF88425034C1A71DE3AD93D6A4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" Guid="{FD0B2396-1164-49A0-8365-10F2D8452655}">
                <File Id="fil4E367B544B133435C24048994E32C006" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Guid="{A7CF5360-5AE0-41E5-A39F-127D50C54BE5}">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmpD98009700F9DCCB585336348A2CEBE64" Guid="{2D93AB1B-F61C-40CC-A849-8F370AA58A6F}">
                <File Id="fil59BFCC2292F134CBDC4AA4926AAAB976" KeyPath="yes" Source="$(var.BasePath)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmp93CA91D57F6251A2235F591E2C255B14" Guid="{11A27DE5-0997-499E-B44E-096679897A2C}">
                <File Id="filB8061B25037EA2CD370763F882C39C0A" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp381A6662B7BE775E2AD4E35F205D99D1" Guid="{70526D43-5996-4047-82A2-93783A66D0FD}">
                <File Id="filFFB639F3D3E0F93F264FDFE3E81A5A62" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp57336CA638C7E423596479419F1908F1" Guid="{A0779CA1-8317-4409-AAE9-F7F412AB260A}">
                <File Id="filE7B8C062C7AE0B6604F0B9B573658E56" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" Guid="{C94F396C-9E31-4F4D-89D1-B3D2B2003D41}">
                <File Id="fil3D1A64312153AD0A9A7D324647F1DEFA" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" Guid="{1FB020E6-8BF9-4169-AE8A-B42600382B45}">
                <File Id="filB19DBCF818AC2F26DEA82AF27E664FD3" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.XDocument.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmpA8609209D894BFD0A3150C1F0BCFFC36" />
            <ComponentRef Id="cmpDA5BD1F82127C04D60A67DEF46885D01" />
            <ComponentRef Id="cmp61F0ED42DB5D268F99C71B1D805DEA27" />
            <ComponentRef Id="cmpA446AF8E47E174A459DCB8F054E69924" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmp0F72FDFC2B5DABBEED0952957424C516" />
            <ComponentRef Id="cmp191446DEBB621CC91C2B2E713F085F01" />
            <ComponentRef Id="cmp0209E8308C907CAD5474151F7C6836F5" />
            <ComponentRef Id="cmp6361EE614B62630DD923390326EAF03C" />
            <ComponentRef Id="cmp1E5A63B6F657DD090469973A1C3D2C59" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmp8D70D98B32C8F908DD58C5F06708F289" />
            <ComponentRef Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" />
            <ComponentRef Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" />
            <ComponentRef Id="cmpC089979D7EDD0520871FCF59E4512F6A" />
            <ComponentRef Id="cmp67E65E2B67A367FACFDC13B3845494ED" />
            <ComponentRef Id="cmp2D22C362F8F0B3B68D8A335DB9874738" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpFB3187AEB0ABE44A5275235FC44713AF" />
            <ComponentRef Id="cmpC7B18FE4579BA5B84EA0DA057622D478" />
            <ComponentRef Id="cmp8F0ABC6A41DD89D6ABA50495ACCF772B" />
            <ComponentRef Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" />
            <ComponentRef Id="cmpA748C45814948C0E47F0962CF5A9E2C5" />
            <ComponentRef Id="cmp602E8F2B93FE6578A846F762EC68A1D9" />
            <ComponentRef Id="cmp3DA1940FB9C385E5772FD6B27D952566" />
            <ComponentRef Id="cmp1340CAF41213E899D78462CF580BF2AD" />
            <ComponentRef Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" />
            <ComponentRef Id="cmp912EE5CA7F0C138422055A3D0C240C38" />
            <ComponentRef Id="cmp9DD02050EE6C7C34C1B0689DE491114C" />
            <ComponentRef Id="cmp0E07B6458918A72AFC17E557DDF86BE9" />
            <ComponentRef Id="cmp9CD588F7BA24625E3D5679886E12AD98" />
            <ComponentRef Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" />
            <ComponentRef Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" />
            <ComponentRef Id="cmp18D7BFB3BE8790A76D7469ACDB6FF184" />
            <ComponentRef Id="cmp16EF400B22B4D8375CD56E7168F49BBB" />
            <ComponentRef Id="cmp7E39F1A13DA5F3678F3102B85106204A" />
            <ComponentRef Id="cmpD23621427F9427EADECDFB75824E8F4E" />
            <ComponentRef Id="cmpB3E27F13800A8FF984F132723F98897C" />
            <ComponentRef Id="cmp36E12B3A84F72D19A05AB3898848297D" />
            <ComponentRef Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" />
            <ComponentRef Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" />
            <ComponentRef Id="cmp804ACD73DC5E4AF51ACF260299491EAE" />
            <ComponentRef Id="cmp08477E3E9CCCB3373C6D6B557560F00D" />
            <ComponentRef Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" />
            <ComponentRef Id="cmpF2CFC77F0487C42E6C597124620175D0" />
            <ComponentRef Id="cmp38992D30F99BD043E10383498A731822" />
            <ComponentRef Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" />
            <ComponentRef Id="cmpC8D343DED6ECA227B78780388C7AA77C" />
            <ComponentRef Id="cmpD40621D43FCB57C24FE91D5292CDCA60" />
            <ComponentRef Id="cmp06E205989506C503C7B11F6FE4B449C6" />
            <ComponentRef Id="cmp2BF489548413875B5E6C82837FCD954F" />
            <ComponentRef Id="cmp1AB9ED2F24CD7F4C14BBC93CA838C6B0" />
            <ComponentRef Id="cmpC96839737F0D0575D352C1AE13A73E26" />
            <ComponentRef Id="cmp43533F1C6D869598C6A682154C94696E" />
            <ComponentRef Id="cmpBEA123016451982E36F3B409E9D6426F" />
            <ComponentRef Id="cmp27E36B7C8DB5461A9579366D20E5DD16" />
            <ComponentRef Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" />
            <ComponentRef Id="cmp5338A7F671CC8A6B5D8355578A8A889A" />
            <ComponentRef Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" />
            <ComponentRef Id="cmpE2761380A2AA89636D5B95A135451B7F" />
            <ComponentRef Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" />
            <ComponentRef Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" />
            <ComponentRef Id="cmp642ED5B0D0BD1F16347D1310992C55A0" />
            <ComponentRef Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" />
            <ComponentRef Id="cmp8487DBCD10F6EA164525782F92DE4F4F" />
            <ComponentRef Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" />
            <ComponentRef Id="cmp8E66472F03923A37D938729AEED0ABF6" />
            <ComponentRef Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" />
            <ComponentRef Id="cmp1F98307E0E8546CD03283A275A109E29" />
            <ComponentRef Id="cmp661DE9832C6188B3A05455224EB65C4A" />
            <ComponentRef Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" />
            <ComponentRef Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" />
            <ComponentRef Id="cmp68954BEF36096052C3124B7F9EF02351" />
            <ComponentRef Id="cmpA3D72A47568CFB72A8579DA365A9694A" />
            <ComponentRef Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" />
            <ComponentRef Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" />
            <ComponentRef Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" />
            <ComponentRef Id="cmpBBE9705F8359FDCA711FD64D14D92D29" />
            <ComponentRef Id="cmp673F5FD19E1447A9E9517732D5099C50" />
            <ComponentRef Id="cmp70FC17596CC6D6081664CEA3F1370618" />
            <ComponentRef Id="cmp0D6DF42F2B6440373438F26D08393D7E" />
            <ComponentRef Id="cmp9CA91C7958AD8878AF60199DC48CD573" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpBC6ED153615307A014F39AD878C11A6F" />
            <ComponentRef Id="cmp5535623A0957F12A580F2E0AE9AB7F24" />
            <ComponentRef Id="cmp1F804D02F421408F7E20267C22EA6672" />
            <ComponentRef Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" />
            <ComponentRef Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" />
            <ComponentRef Id="cmp11FDD7837E3686618A8029176A611E38" />
            <ComponentRef Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" />
            <ComponentRef Id="cmp41A90A30E3B6DE65B53B94DD925F5178" />
            <ComponentRef Id="cmpD90C1CD2102284F981F3D046E35CA13E" />
            <ComponentRef Id="cmp552DDD4A29039B8C3A99A908722A24F8" />
            <ComponentRef Id="cmp844E0AB3F4C9BC342C04985D37DDFEB2" />
            <ComponentRef Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" />
            <ComponentRef Id="cmpFF30060800C65B79967082C32327291C" />
            <ComponentRef Id="cmp77638A88DFF018673C9539C4C63849F1" />
            <ComponentRef Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" />
            <ComponentRef Id="cmp0136E6693E0DF16DBA25B9082AEA0615" />
            <ComponentRef Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" />
            <ComponentRef Id="cmp82F2DB94B35989B5500883F0A3BD8505" />
            <ComponentRef Id="cmp2A096C150C80DB6CCD87D4C38C958489" />
            <ComponentRef Id="cmp06F6E0D21752727B7ACAD0B512A6023D" />
            <ComponentRef Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" />
            <ComponentRef Id="cmp0B61CF5FB51B4607DDD38343361694DD" />
            <ComponentRef Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" />
            <ComponentRef Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" />
            <ComponentRef Id="cmp174FEA916F072AFEF2DC68827B08C208" />
            <ComponentRef Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" />
            <ComponentRef Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" />
            <ComponentRef Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" />
            <ComponentRef Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" />
            <ComponentRef Id="cmp3A99A623A71A716A198559E0C9D59400" />
            <ComponentRef Id="cmpD98009700F9DCCB585336348A2CEBE64" />
            <ComponentRef Id="cmp93CA91D57F6251A2235F591E2C255B14" />
            <ComponentRef Id="cmp381A6662B7BE775E2AD4E35F205D99D1" />
            <ComponentRef Id="cmp57336CA638C7E423596479419F1908F1" />
            <ComponentRef Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" />
            <ComponentRef Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" />
        </ComponentGroup>
    </Fragment>
</Wix>