<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="{FBA43353-AA49-4E69-9038-3E2DE7EEAC80}">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.BasePath)\appsettings.json" />
            </Component>
            <Component Id="cmpA8609209D894BFD0A3150C1F0BCFFC36" Guid="{820BF459-00B6-424A-A1C1-783A641793BD}">
                <File Id="fil443B95B9566C3963902B71CF4C05351D" KeyPath="yes" Source="$(var.BasePath)\BatchUpdateIncidentClient.exe" />
            </Component>
            <Component Id="cmpDA5BD1F82127C04D60A67DEF46885D01" Guid="{531BC097-436E-4856-96F7-7523F072D07D}">
                <File Id="fil9C5E7550F61A3BC1DE0AB2CD219B9FB0" KeyPath="yes" Source="$(var.BasePath)\BatchUpdateIncidentClient.exe.config" />
            </Component>
            <Component Id="cmp61F0ED42DB5D268F99C71B1D805DEA27" Guid="{9C089707-5326-4FF0-9F16-F1285DFF18C2}">
                <File Id="fil08DEC8CCC202D1B780B39670DA8E21FC" KeyPath="yes" Source="$(var.BasePath)\BatchUpdateIncidentClient.pdb" />
            </Component>
            <Component Id="cmpA446AF8E47E174A459DCB8F054E69924" Guid="{3005FD23-BA45-4188-9967-CFB6333B375B}">
                <File Id="fil79D4CA6BFB2C2DEF868B84C5B08409F3" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Crm.Sdk.Proxy.dll" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="{BAE2BDE5-512B-4A84-83EA-73195F8813CE}">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="{73E95DE8-810F-4E0D-8651-954D69D88DE1}">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp0F72FDFC2B5DABBEED0952957424C516" Guid="{C90E0B7D-F965-4E60-A1BB-4B66B907C137}">
                <File Id="fil732B9D1BB8B2BA629B3802CB721B7E55" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp191446DEBB621CC91C2B2E713F085F01" Guid="{1E715E47-B69D-40EC-8EA8-0B3C597D142D}">
                <File Id="fil0CC9532B169036B73874B81A5F9C8F97" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp0209E8308C907CAD5474151F7C6836F5" Guid="{2D6F86E4-974C-4F37-93EC-C84E60592A94}">
                <File Id="fil1036FDFADEB4E1F1FB133485A70A0DD4" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp6361EE614B62630DD923390326EAF03C" Guid="{DF7BCF5D-4844-44C9-9898-46927633CFA8}">
                <File Id="fil1B3C0C67DC448F84DA45630529031E78" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp1E5A63B6F657DD090469973A1C3D2C59" Guid="{B41133A6-C4AD-4588-B3BF-21CC3D5D5491}">
                <File Id="fil931DDF3633F4CABF1422600B672C70DE" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="{615F0B25-AF4A-4B7E-B254-E540BFAF9E19}">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmp8D70D98B32C8F908DD58C5F06708F289" Guid="{E8D86868-DBED-4BF8-9F6F-41265A58DFCE}">
                <File Id="fil65C3764DFEF4B816AA91E646D63059C1" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" Guid="{C7287EE1-64CC-4B3F-B9C7-FE8E17C56CBD}">
                <File Id="fil88E67E79EF1C4E174E3CA55C79D438EF" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            <Component Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" Guid="{71462020-506E-45F6-847C-E89D5C3C5474}">
                <File Id="fil477B767EE43BD465EE01C8F343860270" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpC089979D7EDD0520871FCF59E4512F6A" Guid="{0D6AB364-C168-4BB4-90B1-08A200EDA2DD}">
                <File Id="fil69885EF287CDAEE15C09BE435AEC1160" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Win32.Primitives.dll" />
            </Component>
            <Component Id="cmp67E65E2B67A367FACFDC13B3845494ED" Guid="{61B1A9A9-0555-43B6-85C7-70593009EE79}">
                <File Id="filB33A9006A4BD6B4E952B54B5229B172C" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Xrm.Sdk.dll" />
            </Component>
            <Component Id="cmp2D22C362F8F0B3B68D8A335DB9874738" Guid="{2BF271A2-E043-4D56-B1E0-43B37EC36F23}">
                <File Id="fil0C7258C62EED04D203F333E1383578C2" KeyPath="yes" Source="$(var.BasePath)\netstandard.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{6439A24C-D200-4644-916A-83C64F13C702}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpFB3187AEB0ABE44A5275235FC44713AF" Guid="{F232E7E0-1BE8-44BF-A265-B929A96E47EE}">
                <File Id="filD41DFC9E6644B2345E54C2167D8FEAEA" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Concurrent.dll" />
            </Component>
            <Component Id="cmpC7B18FE4579BA5B84EA0DA057622D478" Guid="{C274A131-F1F7-4661-8A3F-F2BF338BD80B}">
                <File Id="filC4C3CE93112A5A69B2BF571E224E4C61" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.dll" />
            </Component>
            <Component Id="cmp8F0ABC6A41DD89D6ABA50495ACCF772B" Guid="{4BBC2AE5-5392-4604-904A-FBB15DDDBD02}">
                <File Id="fil584ACC6B2D9300E5138C0D80C1B82EBE" KeyPath="yes" Source="$(var.BasePath)\Nito.AsyncEx.Enlightenment.dll" />
            </Component>
            <Component Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" Guid="{96DF6CAD-C4B1-4C08-A267-A4631D39B38C}">
                <File Id="filAFD0CC30CB2E6DD52C314025EFBB3EF7" KeyPath="yes" Source="$(var.BasePath)\System.AppContext.dll" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Guid="{5A2EB1B3-C4C4-4A84-8BF0-FEC5B0A3D927}">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp602E8F2B93FE6578A846F762EC68A1D9" Guid="{6FC4792A-456D-4D24-8622-51DE2321C1F3}">
                <File Id="fil8A8EC4001DD8F96250E301ED6A1E3783" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Concurrent.dll" />
            </Component>
            <Component Id="cmp3DA1940FB9C385E5772FD6B27D952566" Guid="{8987C747-E648-47B3-A96A-87ED3D51FF05}">
                <File Id="fil61FB0EF6F8353D5D25E080C4B6E602C0" KeyPath="yes" Source="$(var.BasePath)\System.Collections.dll" />
            </Component>
            <Component Id="cmp1340CAF41213E899D78462CF580BF2AD" Guid="{05169A20-F028-4AE1-BA8A-47E4243292BD}">
                <File Id="filE68AB55348C2F39BA40CC24DA31D4211" KeyPath="yes" Source="$(var.BasePath)\System.Collections.NonGeneric.dll" />
            </Component>
            <Component Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" Guid="{F2F766B8-7B2E-4747-B0FE-6FDA86A2C819}">
                <File Id="filF574BF00EFD9442D9E5911559F8D7CB3" KeyPath="yes" Source="$(var.BasePath)\System.Collections.Specialized.dll" />
            </Component>
            <Component Id="cmp912EE5CA7F0C138422055A3D0C240C38" Guid="{E1855714-755A-4CC3-80BE-E5A4CA1BA368}">
                <File Id="fil8084AE81753074831DC96EB13423F40D" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.dll" />
            </Component>
            <Component Id="cmp9DD02050EE6C7C34C1B0689DE491114C" Guid="{F17C30DE-7C7B-4E2B-9417-A1CA228B92C3}">
                <File Id="fil1E5C558F899E13FD4A03E9ACF14B5065" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.EventBasedAsync.dll" />
            </Component>
            <Component Id="cmp0E07B6458918A72AFC17E557DDF86BE9" Guid="{38BDCEE1-71DF-4622-8088-C795CE04A4A2}">
                <File Id="fil757C2B539CEF8E96C5DAF1634B560D0F" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.Primitives.dll" />
            </Component>
            <Component Id="cmp9CD588F7BA24625E3D5679886E12AD98" Guid="{92D85CB4-0AFA-4225-B1A3-33F1A1527D27}">
                <File Id="fil057857F4AB9C19007F7BB13F6DAB4F8E" KeyPath="yes" Source="$(var.BasePath)\System.ComponentModel.TypeConverter.dll" />
            </Component>
            <Component Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" Guid="{E2BD322B-F618-4224-9017-664A75223F39}">
                <File Id="fil08A6ABF18A6A31D6C7924DD13873F17E" KeyPath="yes" Source="$(var.BasePath)\System.Console.dll" />
            </Component>
            <Component Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" Guid="{DD1E5012-500E-4B79-8B97-FFD1323F26EB}">
                <File Id="filE0AB56016BACB84E3B4D8920E3BC3B88" KeyPath="yes" Source="$(var.BasePath)\System.Data.Common.dll" />
            </Component>
            <Component Id="cmp18D7BFB3BE8790A76D7469ACDB6FF184" Guid="{28B30A73-E4D0-4CDF-A7C8-11E9D5114587}">
                <File Id="filF5EC28734B29A9D0741ED65730786D83" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Contracts.dll" />
            </Component>
            <Component Id="cmp16EF400B22B4D8375CD56E7168F49BBB" Guid="{CFA3C483-6CB4-4C6F-AA8D-D82E45DCC407}">
                <File Id="filC5A135B91631EDD63E03635FE5DB1528" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Debug.dll" />
            </Component>
            <Component Id="cmp7E39F1A13DA5F3678F3102B85106204A" Guid="{50673988-27AA-4796-B604-E6A4E4AC68A5}">
                <File Id="filE669E7EEC097516D4E9BE57F87820A6F" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.FileVersionInfo.dll" />
            </Component>
            <Component Id="cmpD23621427F9427EADECDFB75824E8F4E" Guid="{661EAEC3-E9F8-4724-94BF-EAA27E8E7E5E}">
                <File Id="filA2202346FF26F0ADE22443C43E9EA3EA" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Process.dll" />
            </Component>
            <Component Id="cmpB3E27F13800A8FF984F132723F98897C" Guid="{13E6CCEA-A504-4D63-BB7C-2DE13AB1A1FE}">
                <File Id="filDBF3A4F1AEA58FEDB0007DD546ADD630" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.StackTrace.dll" />
            </Component>
            <Component Id="cmp36E12B3A84F72D19A05AB3898848297D" Guid="{74FC7BDA-D0F3-47D6-95B7-75E6DC791E4B}">
                <File Id="fil21EE5D64D21C91238861B7873377CB07" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.TextWriterTraceListener.dll" />
            </Component>
            <Component Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" Guid="{8FB02223-5CE0-4405-8E2E-8DFD968AD9AF}">
                <File Id="fil589087C30E15FFAD786A80C79F228C31" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tools.dll" />
            </Component>
            <Component Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" Guid="{2DC92731-D8FA-4E15-A8DA-E8ECF38BD8F7}">
                <File Id="fil51DF554AB19C81BD826675A139E6342C" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.TraceSource.dll" />
            </Component>
            <Component Id="cmp804ACD73DC5E4AF51ACF260299491EAE" Guid="{0A303217-C092-484B-AE8F-94CA411922A5}">
                <File Id="filE457FA9EC2AE98FDC3C82D976418C363" KeyPath="yes" Source="$(var.BasePath)\System.Diagnostics.Tracing.dll" />
            </Component>
            <Component Id="cmp08477E3E9CCCB3373C6D6B557560F00D" Guid="{52130C86-461C-4731-B8D6-34138279C56B}">
                <File Id="filB3F994E499D6B2658F4935DB290BBD4C" KeyPath="yes" Source="$(var.BasePath)\System.Drawing.Primitives.dll" />
            </Component>
            <Component Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" Guid="{85DF5125-DF2D-4A8D-A133-9236DFBA3A79}">
                <File Id="filC724FD793DE9BFA79CD7FB6C9ADD74B0" KeyPath="yes" Source="$(var.BasePath)\System.Dynamic.Runtime.dll" />
            </Component>
            <Component Id="cmpF2CFC77F0487C42E6C597124620175D0" Guid="{DA48D759-346A-4FA6-AA25-35AFF71AC55A}">
                <File Id="filB1DA3C706CDD3EB9DD5FAEE10E17A1EC" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Calendars.dll" />
            </Component>
            <Component Id="cmp38992D30F99BD043E10383498A731822" Guid="{C0AE5FEF-9DFA-4956-8067-630B5C102568}">
                <File Id="fil302011DAA4997DB8B141168A984D0E89" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.dll" />
            </Component>
            <Component Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" Guid="{E995786F-A5E1-4F2E-AA33-ACEE82DC9EBF}">
                <File Id="filBCE4D84B0CA5B233C74110483CAD4D62" KeyPath="yes" Source="$(var.BasePath)\System.Globalization.Extensions.dll" />
            </Component>
            <Component Id="cmpC8D343DED6ECA227B78780388C7AA77C" Guid="{9B4BBF7B-B7CA-4384-BBF6-1E28092FC053}">
                <File Id="fil8C21BB6ED9A67550B3F3EE8EF35E5A89" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.dll" />
            </Component>
            <Component Id="cmpD40621D43FCB57C24FE91D5292CDCA60" Guid="{E4CA1C39-F3DE-47CA-90B3-F7253D08B885}">
                <File Id="fil58D577100F63265F0448602DFD48190C" KeyPath="yes" Source="$(var.BasePath)\System.IO.Compression.ZipFile.dll" />
            </Component>
            <Component Id="cmp06E205989506C503C7B11F6FE4B449C6" Guid="{2FC8DBBD-D341-46BD-8472-F1BABE9A8F09}">
                <File Id="fil1585A04883FF89B289FC2454E8EDC783" KeyPath="yes" Source="$(var.BasePath)\System.IO.dll" />
            </Component>
            <Component Id="cmp2BF489548413875B5E6C82837FCD954F" Guid="{05879015-5353-4913-8624-E1DDBC233326}">
                <File Id="filB910A291C5575D86F028725A2C33BF2D" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.dll" />
            </Component>
            <Component Id="cmp1AB9ED2F24CD7F4C14BBC93CA838C6B0" Guid="{564D9856-854E-4587-B8AD-A99A38CAA98A}">
                <File Id="fil574A395F5B89705022FDCE55CD01B148" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.DriveInfo.dll" />
            </Component>
            <Component Id="cmpC96839737F0D0575D352C1AE13A73E26" Guid="{4585660D-57E2-4874-AC7E-FAF075E56572}">
                <File Id="fil02F9A4228ADE0C77AF34898B47FD1723" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Primitives.dll" />
            </Component>
            <Component Id="cmp43533F1C6D869598C6A682154C94696E" Guid="{86F5C5D2-185F-46DD-B3FF-05234F6EF615}">
                <File Id="filBF4695E38CC21BF49BBCA04E77D36710" KeyPath="yes" Source="$(var.BasePath)\System.IO.FileSystem.Watcher.dll" />
            </Component>
            <Component Id="cmpBEA123016451982E36F3B409E9D6426F" Guid="{0697AA3A-BC37-4DF6-B4D3-8D9F23D044F5}">
                <File Id="fil4018AFAC307CEA6BC7FCB7A5B8BCA075" KeyPath="yes" Source="$(var.BasePath)\System.IO.IsolatedStorage.dll" />
            </Component>
            <Component Id="cmp27E36B7C8DB5461A9579366D20E5DD16" Guid="{088B2638-FC54-4A59-A5CE-1A967B7E452B}">
                <File Id="fil7F43DE255F0B70BD8014CC9F0611E6A9" KeyPath="yes" Source="$(var.BasePath)\System.IO.MemoryMappedFiles.dll" />
            </Component>
            <Component Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" Guid="{64F21488-3D83-4311-A104-185949563807}">
                <File Id="fil8EAA03164AF160196E835AAF613219D0" KeyPath="yes" Source="$(var.BasePath)\System.IO.Pipes.dll" />
            </Component>
            <Component Id="cmp5338A7F671CC8A6B5D8355578A8A889A" Guid="{5D03F5B2-B98A-4D76-864B-F8C78F1CA3F4}">
                <File Id="filA25C390E7FAA5E8406CA4A02BBBCC33A" KeyPath="yes" Source="$(var.BasePath)\System.IO.UnmanagedMemoryStream.dll" />
            </Component>
            <Component Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" Guid="{96F26DE1-BC09-4900-920B-0B32485B5CA3}">
                <File Id="fil598A363D5498D9DDBAFE6880F82F75CA" KeyPath="yes" Source="$(var.BasePath)\System.Linq.dll" />
            </Component>
            <Component Id="cmpE2761380A2AA89636D5B95A135451B7F" Guid="{94B83CC2-77D2-47B5-8C42-6722874CFF3E}">
                <File Id="fil33155AE23C9BC1A3E340E9A8ABDE1D42" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Expressions.dll" />
            </Component>
            <Component Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" Guid="{94C80AC3-AA5B-4577-A54F-167146B30129}">
                <File Id="fil3F3DFA5907492425703385E53974B104" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Parallel.dll" />
            </Component>
            <Component Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" Guid="{3D5644A4-A780-4E28-AC42-0F362A9DF80D}">
                <File Id="fil7169F7E92FBFDB99FD71D763F2E780C7" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Queryable.dll" />
            </Component>
            <Component Id="cmp642ED5B0D0BD1F16347D1310992C55A0" Guid="{9354B182-F037-4C6A-A763-8BBE7B33C1C1}">
                <File Id="filFA1D7EC932018D1CCB80F9F43D328009" KeyPath="yes" Source="$(var.BasePath)\System.Memory.dll" />
            </Component>
            <Component Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" Guid="{744522EE-A95C-449B-A230-3ADDD2BEBFD7}">
                <File Id="fil7D48B04FDEE4653060C375A94010A762" KeyPath="yes" Source="$(var.BasePath)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp8487DBCD10F6EA164525782F92DE4F4F" Guid="{C27B452C-A504-45D0-8D6C-49ACD570FEEA}">
                <File Id="fil69D9F4812C174BFB653C73FDA9A444E0" KeyPath="yes" Source="$(var.BasePath)\System.Net.NameResolution.dll" />
            </Component>
            <Component Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" Guid="{1C475FB7-E3D0-4DE1-ABD8-B3C0B76B31E4}">
                <File Id="filC663E3CB9E88525B42D5B8916035A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Net.NetworkInformation.dll" />
            </Component>
            <Component Id="cmp8E66472F03923A37D938729AEED0ABF6" Guid="{79DDD08A-552F-43E1-BBAA-6319468FFB2E}">
                <File Id="fil8C39D1E2631D6844BB01F4F3D4309095" KeyPath="yes" Source="$(var.BasePath)\System.Net.Ping.dll" />
            </Component>
            <Component Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" Guid="{3A6B406A-DFFB-47AF-9BB1-4C4BE51A8C9C}">
                <File Id="fil9E23EE919E61291572A9E7A02358BE0B" KeyPath="yes" Source="$(var.BasePath)\System.Net.Primitives.dll" />
            </Component>
            <Component Id="cmp1F98307E0E8546CD03283A275A109E29" Guid="{D4CD4C14-2F67-4063-9437-947017667137}">
                <File Id="filABF76F5E8887AC62C808D141EEE7F90D" KeyPath="yes" Source="$(var.BasePath)\System.Net.Requests.dll" />
            </Component>
            <Component Id="cmp661DE9832C6188B3A05455224EB65C4A" Guid="{02BD7721-5152-4B1A-B85F-F57669BC127F}">
                <File Id="fil1D7AB309A4579D55C17E387F8DFFAE30" KeyPath="yes" Source="$(var.BasePath)\System.Net.Security.dll" />
            </Component>
            <Component Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" Guid="{FE6C8DB3-61B0-45FD-A339-012774C5784B}">
                <File Id="fil823B0C5D79C138C9B43DE503AE851AF3" KeyPath="yes" Source="$(var.BasePath)\System.Net.Sockets.dll" />
            </Component>
            <Component Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" Guid="{75AB8660-8BBC-4363-A070-713847CA957B}">
                <File Id="fil56CADEAFFCFAFECB7B1BDB9CFD8987F1" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebHeaderCollection.dll" />
            </Component>
            <Component Id="cmp68954BEF36096052C3124B7F9EF02351" Guid="{BB7F4731-67FF-40A0-8A27-4CFE5E201EA3}">
                <File Id="filBE4907C935596CA9CAA2A7AA9AB25169" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.Client.dll" />
            </Component>
            <Component Id="cmpA3D72A47568CFB72A8579DA365A9694A" Guid="{DE51A2E6-FF46-4C88-9783-7D8F74602446}">
                <File Id="fil21106B04138595285E4063BA0375F731" KeyPath="yes" Source="$(var.BasePath)\System.Net.WebSockets.dll" />
            </Component>
            <Component Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" Guid="{E23A9EBE-A6BB-45F9-B952-E448CB2C6004}">
                <File Id="fil07CC506FCE6F39AF87379627460A5FFB" KeyPath="yes" Source="$(var.BasePath)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" Guid="{1E56FEE1-76A0-4DF7-959E-9FA4786AA9A9}">
                <File Id="fil9A7CC4FBC706133927299AE792CF930C" KeyPath="yes" Source="$(var.BasePath)\System.ObjectModel.dll" />
            </Component>
            <Component Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" Guid="{71638CC1-8FAE-4281-B647-572671DCF0E8}">
                <File Id="filA974C5A92C285D01E798C45F066066E6" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.dll" />
            </Component>
            <Component Id="cmpBBE9705F8359FDCA711FD64D14D92D29" Guid="{748DC830-0448-408C-9D83-5E95BB578EBC}">
                <File Id="filBF34301359DFDB004DA5653ADCF77EA8" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Extensions.dll" />
            </Component>
            <Component Id="cmp673F5FD19E1447A9E9517732D5099C50" Guid="{B8A3B1DC-5BDA-4733-A2B5-D4A98E1D1694}">
                <File Id="fil8C7FE5693A485A6EC5DB4F983E211310" KeyPath="yes" Source="$(var.BasePath)\System.Reflection.Primitives.dll" />
            </Component>
            <Component Id="cmp70FC17596CC6D6081664CEA3F1370618" Guid="{99551801-0155-4B59-8D0B-B73C42895672}">
                <File Id="filA1280936EE48F816F9935AC5D8CC2135" KeyPath="yes" Source="$(var.BasePath)\System.Resources.Reader.dll" />
            </Component>
            <Component Id="cmp0D6DF42F2B6440373438F26D08393D7E" Guid="{F80B6058-F299-4211-B2AD-78E49A36EB84}">
                <File Id="fil0A8B8FDA1F690B6521438D46937A3A6B" KeyPath="yes" Source="$(var.BasePath)\System.Resources.ResourceManager.dll" />
            </Component>
            <Component Id="cmp9CA91C7958AD8878AF60199DC48CD573" Guid="{13D97AAD-8638-41C4-B8A2-C834D96824FF}">
                <File Id="fil230BE30D15C956EF11744774D5E2748A" KeyPath="yes" Source="$(var.BasePath)\System.Resources.Writer.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{F2D8F037-288F-4466-9A16-4DCEB6DBF219}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpBC6ED153615307A014F39AD878C11A6F" Guid="{E7E1C6E0-5996-4475-9C6B-93104C570E87}">
                <File Id="fil06F091C33B00CEE32ABF1D23BFFCF153" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.VisualC.dll" />
            </Component>
            <Component Id="cmp5535623A0957F12A580F2E0AE9AB7F24" Guid="{135D29F6-81C5-432B-A5B3-9F2F7BAB8E04}">
                <File Id="fil1F7505072F9E81ACFDD7E6910787823E" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.dll" />
            </Component>
            <Component Id="cmp1F804D02F421408F7E20267C22EA6672" Guid="{02526730-DF27-4421-8E30-9FE26D519CE3}">
                <File Id="fil46F95A243148C958E6F1AB4B4F561CB1" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Extensions.dll" />
            </Component>
            <Component Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" Guid="{4121757A-215E-4BA2-A07F-B730EC3AD354}">
                <File Id="fil7F78E91219FBF02ABACD6059011A3487" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Handles.dll" />
            </Component>
            <Component Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" Guid="{131F874F-40AC-42A6-8638-377E565F2B4E}">
                <File Id="fil853E903EAF99997C9E803CAE3ACFBF5A" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.dll" />
            </Component>
            <Component Id="cmp11FDD7837E3686618A8029176A611E38" Guid="{E211B4D6-FA54-4A15-A784-50D1D10794CB}">
                <File Id="fil43FDDFACC38DCF385E1070ABFC9FF8BD" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.InteropServices.RuntimeInformation.dll" />
            </Component>
            <Component Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" Guid="{FA431F0A-45D7-4586-BF7E-89E6A4C4E75D}">
                <File Id="fil02EF2737879749E35F209C9B7DCA391D" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Numerics.dll" />
            </Component>
            <Component Id="cmp41A90A30E3B6DE65B53B94DD925F5178" Guid="{ADFBA97C-BDDA-473C-9B0A-B6CFBAF7EE00}">
                <File Id="filC968DB2890AADD4FA67468C2A7B10151" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Formatters.dll" />
            </Component>
            <Component Id="cmpD90C1CD2102284F981F3D046E35CA13E" Guid="{40AE9488-D8F8-4715-8D87-C8ECD3178CBD}">
                <File Id="filD0901858A2CBFDA1564A60620AE9B302" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Json.dll" />
            </Component>
            <Component Id="cmp552DDD4A29039B8C3A99A908722A24F8" Guid="{F9C4DF52-9CD8-4E55-80A1-403EE939BE0E}">
                <File Id="fil4EF07533CCADC5D11E070B55437037C4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Primitives.dll" />
            </Component>
            <Component Id="cmp844E0AB3F4C9BC342C04985D37DDFEB2" Guid="{48384CDA-2D7E-4C99-A37D-13E13F7BED7C}">
                <File Id="filEA5BDF8BC27AFF8E7E096CB7FADA4669" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.Serialization.Xml.dll" />
            </Component>
            <Component Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" Guid="{170C350E-90F2-40CD-AD5F-03E00643B5A5}">
                <File Id="filF9336650B5D207916A83BC080A440D23" KeyPath="yes" Source="$(var.BasePath)\System.Security.Claims.dll" />
            </Component>
            <Component Id="cmpFF30060800C65B79967082C32327291C" Guid="{FFDCC565-0712-46E3-B5A5-B92E847C8144}">
                <File Id="filAB211F3F0ECB04AF6C2378C73893A0C8" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Algorithms.dll" />
            </Component>
            <Component Id="cmp77638A88DFF018673C9539C4C63849F1" Guid="{776F5948-8571-4C4F-BDCB-63450EFBEBFE}">
                <File Id="filA76FAFC53D43269049D637292976CF51" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Csp.dll" />
            </Component>
            <Component Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" Guid="{963E872D-8B72-4203-83A0-CD2000253F97}">
                <File Id="filED8707AB753EEF87C2288DCB64CF7A12" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Encoding.dll" />
            </Component>
            <Component Id="cmp0136E6693E0DF16DBA25B9082AEA0615" Guid="{FC763BAE-DD34-4B2F-AEF7-EC2AA40F9E86}">
                <File Id="fil25474CD58A18AB4C2CD00F08A6BC9775" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.Primitives.dll" />
            </Component>
            <Component Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" Guid="{FFC00C92-FC8D-4709-A4AD-615D77664B98}">
                <File Id="fil442CB099348F299818A47DAF4107BAD6" KeyPath="yes" Source="$(var.BasePath)\System.Security.Cryptography.X509Certificates.dll" />
            </Component>
            <Component Id="cmp82F2DB94B35989B5500883F0A3BD8505" Guid="{E8D67B60-4A93-40DD-B9F1-5B22F3783131}">
                <File Id="filD2D8BE6ECEE6993CF4F1FF23EB2E93BB" KeyPath="yes" Source="$(var.BasePath)\System.Security.Principal.dll" />
            </Component>
            <Component Id="cmp2A096C150C80DB6CCD87D4C38C958489" Guid="{29447B15-FAD6-4B9E-9FC2-4DDEE80D29FB}">
                <File Id="filFB2A4DE274D08F22C08A1322C26E75AC" KeyPath="yes" Source="$(var.BasePath)\System.Security.SecureString.dll" />
            </Component>
            <Component Id="cmp06F6E0D21752727B7ACAD0B512A6023D" Guid="{63E7094C-510F-44E5-BA9F-C0AD59CF6BA9}">
                <File Id="fil701E2765A9E92F8724B2DE3CCDB46360" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.dll" />
            </Component>
            <Component Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" Guid="{59EC0AB5-F4D3-4CE8-9B7E-9CCD364F5DD5}">
                <File Id="filCE8884160ED3E0EC381AFA6BE7E9D787" KeyPath="yes" Source="$(var.BasePath)\System.Text.Encoding.Extensions.dll" />
            </Component>
            <Component Id="cmp0B61CF5FB51B4607DDD38343361694DD" Guid="{A81C2E0F-728B-4144-A04E-42F639FB3D22}">
                <File Id="filDF47AF6394D3BCA07F18B1B1DED956F6" KeyPath="yes" Source="$(var.BasePath)\System.Text.RegularExpressions.dll" />
            </Component>
            <Component Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" Guid="{2820D1C8-08BF-442A-AF8A-7C978EA62B0A}">
                <File Id="fil36048FD39C076898D35F88983802BDEF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.dll" />
            </Component>
            <Component Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" Guid="{1A1652B4-6816-432E-8572-C1FA0D5A70E2}">
                <File Id="filE727C34A4C970EEE21C677C885EC28B8" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Overlapped.dll" />
            </Component>
            <Component Id="cmp174FEA916F072AFEF2DC68827B08C208" Guid="{3DFED98B-4788-4FDA-9802-5260863567A9}">
                <File Id="fil7F3C8D53605A91C20728F321E6100DC4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" Guid="{3533797B-7715-449A-A01B-648866135B79}">
                <File Id="filFDA046DB7FA1CA15A62337B4F259E5FF" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Parallel.dll" />
            </Component>
            <Component Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" Guid="{4BBC9EEA-3AD3-416A-BDB5-DA8B841A2548}">
                <File Id="filC3127284977EB9FDD14629243C84A2EE" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Thread.dll" />
            </Component>
            <Component Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" Guid="{92538F27-512A-4DFB-B813-94158A0128D4}">
                <File Id="fil809F8EEF88425034C1A71DE3AD93D6A4" KeyPath="yes" Source="$(var.BasePath)\System.Threading.ThreadPool.dll" />
            </Component>
            <Component Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" Guid="{221F4C4A-10B9-4A88-B169-443691806100}">
                <File Id="fil4E367B544B133435C24048994E32C006" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Timer.dll" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Guid="{55A66EFD-4A01-40CA-9DF2-7C285B9F1D40}">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmpD98009700F9DCCB585336348A2CEBE64" Guid="{29F24236-6084-4C70-8246-950F841E552B}">
                <File Id="fil59BFCC2292F134CBDC4AA4926AAAB976" KeyPath="yes" Source="$(var.BasePath)\System.Xml.ReaderWriter.dll" />
            </Component>
            <Component Id="cmp93CA91D57F6251A2235F591E2C255B14" Guid="{8D099EC6-E21D-426F-BB8F-331C5F3FEFE4}">
                <File Id="filB8061B25037EA2CD370763F882C39C0A" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XDocument.dll" />
            </Component>
            <Component Id="cmp381A6662B7BE775E2AD4E35F205D99D1" Guid="{C21546B7-56F4-4DCC-92ED-799C1657DAD7}">
                <File Id="filFFB639F3D3E0F93F264FDFE3E81A5A62" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XmlDocument.dll" />
            </Component>
            <Component Id="cmp57336CA638C7E423596479419F1908F1" Guid="{E8DE1273-15FC-439F-B7B5-388113142736}">
                <File Id="filE7B8C062C7AE0B6604F0B9B573658E56" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XmlSerializer.dll" />
            </Component>
            <Component Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" Guid="{CEF7C253-4344-480D-AE42-D5CBBC033299}">
                <File Id="fil3D1A64312153AD0A9A7D324647F1DEFA" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.dll" />
            </Component>
            <Component Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" Guid="{10974ADC-5E84-442B-8655-4FAE1E024A4E}">
                <File Id="filB19DBCF818AC2F26DEA82AF27E664FD3" KeyPath="yes" Source="$(var.BasePath)\System.Xml.XPath.XDocument.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmpA8609209D894BFD0A3150C1F0BCFFC36" />
            <ComponentRef Id="cmpDA5BD1F82127C04D60A67DEF46885D01" />
            <ComponentRef Id="cmp61F0ED42DB5D268F99C71B1D805DEA27" />
            <ComponentRef Id="cmpA446AF8E47E174A459DCB8F054E69924" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmp0F72FDFC2B5DABBEED0952957424C516" />
            <ComponentRef Id="cmp191446DEBB621CC91C2B2E713F085F01" />
            <ComponentRef Id="cmp0209E8308C907CAD5474151F7C6836F5" />
            <ComponentRef Id="cmp6361EE614B62630DD923390326EAF03C" />
            <ComponentRef Id="cmp1E5A63B6F657DD090469973A1C3D2C59" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmp8D70D98B32C8F908DD58C5F06708F289" />
            <ComponentRef Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" />
            <ComponentRef Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" />
            <ComponentRef Id="cmpC089979D7EDD0520871FCF59E4512F6A" />
            <ComponentRef Id="cmp67E65E2B67A367FACFDC13B3845494ED" />
            <ComponentRef Id="cmp2D22C362F8F0B3B68D8A335DB9874738" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpFB3187AEB0ABE44A5275235FC44713AF" />
            <ComponentRef Id="cmpC7B18FE4579BA5B84EA0DA057622D478" />
            <ComponentRef Id="cmp8F0ABC6A41DD89D6ABA50495ACCF772B" />
            <ComponentRef Id="cmp5BF82A49794EF8CA80B3603A0E77FC35" />
            <ComponentRef Id="cmpA748C45814948C0E47F0962CF5A9E2C5" />
            <ComponentRef Id="cmp602E8F2B93FE6578A846F762EC68A1D9" />
            <ComponentRef Id="cmp3DA1940FB9C385E5772FD6B27D952566" />
            <ComponentRef Id="cmp1340CAF41213E899D78462CF580BF2AD" />
            <ComponentRef Id="cmp4CA8A8377EC5F30AF1C8BF2ABE2B916B" />
            <ComponentRef Id="cmp912EE5CA7F0C138422055A3D0C240C38" />
            <ComponentRef Id="cmp9DD02050EE6C7C34C1B0689DE491114C" />
            <ComponentRef Id="cmp0E07B6458918A72AFC17E557DDF86BE9" />
            <ComponentRef Id="cmp9CD588F7BA24625E3D5679886E12AD98" />
            <ComponentRef Id="cmp1A01EFD00F1DAF10CE06F8196357F24C" />
            <ComponentRef Id="cmp5C82A05FA23F935F2AF47CD1A8E11EF5" />
            <ComponentRef Id="cmp18D7BFB3BE8790A76D7469ACDB6FF184" />
            <ComponentRef Id="cmp16EF400B22B4D8375CD56E7168F49BBB" />
            <ComponentRef Id="cmp7E39F1A13DA5F3678F3102B85106204A" />
            <ComponentRef Id="cmpD23621427F9427EADECDFB75824E8F4E" />
            <ComponentRef Id="cmpB3E27F13800A8FF984F132723F98897C" />
            <ComponentRef Id="cmp36E12B3A84F72D19A05AB3898848297D" />
            <ComponentRef Id="cmp167D1C5C6A974604FBBFEDD39E2FDF84" />
            <ComponentRef Id="cmpBDFBFA929E7957E9AB4B89B1C6BBCD7A" />
            <ComponentRef Id="cmp804ACD73DC5E4AF51ACF260299491EAE" />
            <ComponentRef Id="cmp08477E3E9CCCB3373C6D6B557560F00D" />
            <ComponentRef Id="cmpA142100C3F0BB7810ABB24189CCE1D0D" />
            <ComponentRef Id="cmpF2CFC77F0487C42E6C597124620175D0" />
            <ComponentRef Id="cmp38992D30F99BD043E10383498A731822" />
            <ComponentRef Id="cmp2ECBD4EE80FB56B111EAB04A7922F75E" />
            <ComponentRef Id="cmpC8D343DED6ECA227B78780388C7AA77C" />
            <ComponentRef Id="cmpD40621D43FCB57C24FE91D5292CDCA60" />
            <ComponentRef Id="cmp06E205989506C503C7B11F6FE4B449C6" />
            <ComponentRef Id="cmp2BF489548413875B5E6C82837FCD954F" />
            <ComponentRef Id="cmp1AB9ED2F24CD7F4C14BBC93CA838C6B0" />
            <ComponentRef Id="cmpC96839737F0D0575D352C1AE13A73E26" />
            <ComponentRef Id="cmp43533F1C6D869598C6A682154C94696E" />
            <ComponentRef Id="cmpBEA123016451982E36F3B409E9D6426F" />
            <ComponentRef Id="cmp27E36B7C8DB5461A9579366D20E5DD16" />
            <ComponentRef Id="cmpB23C66A8B8F46E3F568C19DFB6A6E1A4" />
            <ComponentRef Id="cmp5338A7F671CC8A6B5D8355578A8A889A" />
            <ComponentRef Id="cmpC0FA693A1C79F59FC93C10CFD37D42F2" />
            <ComponentRef Id="cmpE2761380A2AA89636D5B95A135451B7F" />
            <ComponentRef Id="cmp1C1E90C62AB1B0C4B75A0C8670A93BF5" />
            <ComponentRef Id="cmpA89B897A857FCF03B6B2373DF3AC3D44" />
            <ComponentRef Id="cmp642ED5B0D0BD1F16347D1310992C55A0" />
            <ComponentRef Id="cmpBA5ABAFBBC1B2CC2232B3287ABE89965" />
            <ComponentRef Id="cmp8487DBCD10F6EA164525782F92DE4F4F" />
            <ComponentRef Id="cmpA79F27EC312D0A6A5E914E2D5E6EAAFB" />
            <ComponentRef Id="cmp8E66472F03923A37D938729AEED0ABF6" />
            <ComponentRef Id="cmp7F3C257977DAD545E41C24AEEBA5F3D7" />
            <ComponentRef Id="cmp1F98307E0E8546CD03283A275A109E29" />
            <ComponentRef Id="cmp661DE9832C6188B3A05455224EB65C4A" />
            <ComponentRef Id="cmp35FB771C91E6D09AC7AD31EA6BD82D48" />
            <ComponentRef Id="cmpBD3081A75FFFB18E0F831CA90BB02A51" />
            <ComponentRef Id="cmp68954BEF36096052C3124B7F9EF02351" />
            <ComponentRef Id="cmpA3D72A47568CFB72A8579DA365A9694A" />
            <ComponentRef Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" />
            <ComponentRef Id="cmpF02258D9C1CDC79ADE6BED7D7E27B7F8" />
            <ComponentRef Id="cmpA232CC5CBB9F7FC0C83CBF6E9889AEA2" />
            <ComponentRef Id="cmpBBE9705F8359FDCA711FD64D14D92D29" />
            <ComponentRef Id="cmp673F5FD19E1447A9E9517732D5099C50" />
            <ComponentRef Id="cmp70FC17596CC6D6081664CEA3F1370618" />
            <ComponentRef Id="cmp0D6DF42F2B6440373438F26D08393D7E" />
            <ComponentRef Id="cmp9CA91C7958AD8878AF60199DC48CD573" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpBC6ED153615307A014F39AD878C11A6F" />
            <ComponentRef Id="cmp5535623A0957F12A580F2E0AE9AB7F24" />
            <ComponentRef Id="cmp1F804D02F421408F7E20267C22EA6672" />
            <ComponentRef Id="cmpC9E0DEEB7CF98154C06B2056C911EFFB" />
            <ComponentRef Id="cmpDD067213D9C6C74C7DEE2A7AAB0FAEEC" />
            <ComponentRef Id="cmp11FDD7837E3686618A8029176A611E38" />
            <ComponentRef Id="cmpCCD6C0BE895B4EC8ED6FCEECB4A871C3" />
            <ComponentRef Id="cmp41A90A30E3B6DE65B53B94DD925F5178" />
            <ComponentRef Id="cmpD90C1CD2102284F981F3D046E35CA13E" />
            <ComponentRef Id="cmp552DDD4A29039B8C3A99A908722A24F8" />
            <ComponentRef Id="cmp844E0AB3F4C9BC342C04985D37DDFEB2" />
            <ComponentRef Id="cmp184FC0E5FAD15B9D8278A9A58F76ABE4" />
            <ComponentRef Id="cmpFF30060800C65B79967082C32327291C" />
            <ComponentRef Id="cmp77638A88DFF018673C9539C4C63849F1" />
            <ComponentRef Id="cmp29603EF04B0BDD3AB6C82CAA97838E8B" />
            <ComponentRef Id="cmp0136E6693E0DF16DBA25B9082AEA0615" />
            <ComponentRef Id="cmp5A1F20CF9AD2DA0DF26622F317779E8C" />
            <ComponentRef Id="cmp82F2DB94B35989B5500883F0A3BD8505" />
            <ComponentRef Id="cmp2A096C150C80DB6CCD87D4C38C958489" />
            <ComponentRef Id="cmp06F6E0D21752727B7ACAD0B512A6023D" />
            <ComponentRef Id="cmp3874A45D344B330AFBCC3A8F554FA9E4" />
            <ComponentRef Id="cmp0B61CF5FB51B4607DDD38343361694DD" />
            <ComponentRef Id="cmpC0197A786E74E0C6CC67B1F2BF47A69D" />
            <ComponentRef Id="cmp1847EF90CD4FF710D3FD7F535A04B4FF" />
            <ComponentRef Id="cmp174FEA916F072AFEF2DC68827B08C208" />
            <ComponentRef Id="cmp9CBB1F7669BA2F45772EFFAF1C3C270D" />
            <ComponentRef Id="cmpFB7FE4390A8C062AD58E42F7C37E1CBA" />
            <ComponentRef Id="cmp152A2FECC9863B1FFDB0C5513DC288DD" />
            <ComponentRef Id="cmp6677FF43E08DCC24B1D67EBAA25DABE0" />
            <ComponentRef Id="cmp3A99A623A71A716A198559E0C9D59400" />
            <ComponentRef Id="cmpD98009700F9DCCB585336348A2CEBE64" />
            <ComponentRef Id="cmp93CA91D57F6251A2235F591E2C255B14" />
            <ComponentRef Id="cmp381A6662B7BE775E2AD4E35F205D99D1" />
            <ComponentRef Id="cmp57336CA638C7E423596479419F1908F1" />
            <ComponentRef Id="cmp8B647EE9E403FBA68E5A3BA65BF324DF" />
            <ComponentRef Id="cmp74AD17100EF04DA9E0B6DB1AFA6D8D5C" />
        </ComponentGroup>
    </Fragment>
</Wix>